<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sabrcare.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Remedley"
        android:allowBackup="true"
        android:icon="@drawable/remedley_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity
            android:name=".LaunchActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tutorial.TutorialActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".HomeActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".auth.SignInActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".symptomtracker.SymptomAddActivity" />
        <activity
            android:name=".auth.SignUpActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".records.ReportFolderActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".medicine.NewMedActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label="@string/title_add_new_medication" />
        <activity android:name=".medicine.AlarmActivity"
            android:theme="@style/AppThemeNoActionBar"/>

        <receiver android:name=".AlarmReceiver" />

        <activity android:name=".activities.ProfileActivity"></activity>
        <activity android:name=".activities.HExpertActivity"></activity>

        <receiver android:name=".AlarmReceiver" />

    </application>

</manifest>